<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
  </system.web>
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="Data Source=LUCKY;Initial Catalog=Samay;Persist Security Info=True;User ID=sa;password=admin@sa"/>-->
      <add name="ConnectionString" connectionString="Data Source=.;Integrated Security=true;Initial Catalog=Samay;Persist Security Info=True;"/>
  </connectionStrings>
  <appSettings>
    <add key="From" value="juturuchakradhar@gmail.com"/>
    <add key="Password" value="chakri*517"/>
    <add key="Host" value="smtp.gmail.com"/>
  </appSettings>
</configuration>